@use 'sass:map';

$_source-map: (
	green: (
		id: 'green',
		login-box-border-color: #1FCF97,
		login-box-bg-color: rgba(5, 50, 42, 0.71),
		login-box-input-hover-color: #1FCF97,
		login-box-input-bg-color: rgba(5,50,42,0.66),
		login-box-input-border-color: #1FCF97,
		login-box-input-checkbox-bg-color: #00C687,
		login-box-input-link-color:#00FFAE,
		login-box-button-color: linear-gradient(90deg, #109967 0%, #16DD9E 100%),
		device-info-overview-bg-color: rgba(12, 48, 37, 0.95),
		device-info-overview-border-color: #00F2A5,
		device-info-overview-font-color: rgba(97, 255, 186, 1),
		device-info-overview-split-line-bg-image: linear-gradient(0deg, #0C2F24, #00FFC6, #0C2F24) 10 10,
		device-info-overview-split-line-bg-color: linear-gradient(90deg, #0C2F24 1%, #00FFC6 52%, #0C2F24 100%),
		device-info-middle-left-width: 1255px,
		device-info-middle-left-height: 474px,
		device-info-footer-left-bg-color: linear-gradient(90deg, #103329 0%, #103326 100%),
		device-info-footer-right-bg-color: linear-gradient(90deg, #109967 0%, #16DD9E 100%),	
		home-header-switch-on-color: #05E8A0,
		home-aside-item-active-bg-color: linear-gradient(270deg, #109967 0%, #1FCF97 100%),
		home-aside-item-active-after-color: linear-gradient(0deg, #1EE9A8 0%, #109968 100%),
		home-aside-item-active-befor-color: linear-gradient(0deg, #1EE9A8 0%, #109968 100%),
		home-aside-item-hover-bg-color: linear-gradient(270deg, #109967 0%, #1FCF97 100%),
		home-header-bg-image-path: url('@/assets/images/green/home/header/background.png'),
		home-header-button-bg-color: rgba(0,188,124,0.2),
		home-header-button-border-color: #05E49E,
		home-header-button-box-shadow-color: rgba(0,15,36,0.52),
		card-device-contro-btn-bg-color: rgba(0,188,124,0.2),
		card-device-contro-btn-border-color: #05E49E,
		card-device-contro-btn-box-shadow-color: rgba(0,15,36,0.52),
		card-device-contro-btn-text-shadow-color: rgba(36,91,72,0.9),
		card-media-contro-btn-bg-color:rgba(0,188,124,0.2),
		card-media-contro-btn-border-color: #05E49E,
	),
	yellow: (
		id: 'yellow',
		login-box-border-color: #BDAC8C,
		login-box-bg-color: rgba(35, 31, 3, 0.71),
		login-box-input-hover-color: #BDAC8C,
		login-box-input-bg-color:rgba(30,24,11,0.66),
		login-box-input-border-color: #BDAC8C,
		login-box-input-checkbox-bg-color: #B69434,
		login-box-input-link-color: #FFDB7A,
		login-box-button-color: linear-gradient(90deg, #D0A630 0%, #FFD768 100%),
		device-info-overview-bg-color: rgba(43, 34, 6, 0.95),
		device-info-overview-border-color: #D6B558,
		device-info-overview-font-color: rgba(235, 199, 97, 1),
		device-info-overview-split-line-bg-image: linear-gradient(0deg, #2F260C, #EBC761, #2F260C) 10 10,
		device-info-overview-split-line-bg-color: linear-gradient(90deg, #2F260C 1%, #EBC761 52%, #2F260C 100%),
		device-info-middle-left-width: 1269px,
		device-info-middle-left-height: 589px,
		device-info-footer-left-bg-color: linear-gradient(90deg, #332A10 0%, #2A240B 100%),
		device-info-footer-right-bg-color: linear-gradient(90deg, #D0A630 0%, #FFD768 100%),
		home-header-switch-on-color: rgba(214, 181, 88, 1),
		home-aside-item-active-bg-color: linear-gradient(270deg, #9D7E26 0%, #BCA04D 100%),
		home-aside-item-active-after-color: linear-gradient(0deg, #F8D267 0%, #9E7F28 100%),
		home-aside-item-active-befor-color: linear-gradient(0deg, #F8D267 0%, #9E7F28 100%),
		home-aside-item-hover-bg-color: linear-gradient(270deg, #9D7E26 0%, #BCA04D 100%),
		home-header-bg-image-path: none,
		home-header-button-bg-color: rgba(162,130,0,0.2),
		home-header-button-border-color: #D6B558,
		home-header-button-box-shadow-color: rgba(0,15,36,0.52),
		card-device-contro-btn-bg-color: rgba(162,130,0,0.2),
		card-device-contro-btn-border-color: #D6B558,
		card-device-contro-btn-box-shadow-color: rgba(0,15,36,0.52),
		card-device-contro-btn-text-shadow-color: rgba(36,91,72,0.9),
		card-media-contro-btn-bg-color:rgba(162,130,0,0.2),
		card-media-contro-btn-border-color:#D6B558,
	)
);

@mixin themeify {
	@each $key, $value in $_source-map {
		$_target-map: $value !global;
		html[data-theme = #{$key}] & {
			@content
		}
	}
};

@function get($var) {
	@return map.get($_target-map, $var);
};